*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

::selection{
    background: #f7bcbc;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(15, 35, 64, 0.864),rgba(246, 194, 194,  0.874)), url(image/study.jpg);/*rgba(246, 194, 194, 0.797)*/
    background-size: 100%; 
    color: white;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
nav ul{
    flex: 1;
    text-align: right;
    padding-right: 40px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 15px;
    transition: 0.2s;
}

nav ul li a:hover{
    color: #f7bcbc;
    transition: 0.2s;
}

.typing{
    height: 60%;
    margin: 10px 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.typing h3{
    font-size: 20px;
}
span{
    color: white;
}


.text-box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-family: 'Parisienne', cursive;
    letter-spacing: 2px;
    margin: 10px 0 40px;
    font-size: 50px;
}
.text-box p{
    letter-spacing: 1px;
    margin: 10px 0 40px;
    font-size: 15px;
    color: white;
}

.video{
    display: inline-block;
    text-decoration: none;
    color: white;
}
.video p{
    letter-spacing: 3px;
    padding: 15px 30px;
    font-size: 20px;
    transition: 0.5s;
}
.video p:hover{
    color: #0f2340;
    transition: 0.5s;
}

.AboutUs{
    width: 100%;
    background: linear-gradient(rgba(246, 194, 194,  0.874), rgb(178, 238, 228));
}
.AboutUs h1{
    padding-top: 30px;
    color: #0f2340;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 40px;
}
.container{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 250px;
}
.container .card{
    position: relative;
    height: 250px;
    background: #f7bcbc;
    display: flex;
    width: 45%;
    margin: 30px 0px;
}
.container .card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0f2340;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}
.container .card:hover .face{
    width: 150px;
    height: 150px;
    left: -20px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    font-size: 0px;
    background: #f070707b;
}
.container .card .face:before{
    content: attr(data-text);
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, 0.399);
    font-weight: 700;
}
.container .card .face img{
    max-width: 250px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .face img{
    max-width: 150px;
}
.container .card .content{
    position: absolute;
    width: calc(100% - 75px);
    height: 100%;
    padding-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .card .content h3{
    margin-bottom: 10px;
    font-size: 25px;
    color: #0f2340;
}
.container .card .content p{
    color: white;
}
.container .card .content a{
    margin-top: 10px;
    margin-right: 10px;
    font-size: 30px;
    display: inline-block;
    color: white;
}
.container .card .content a:hover{
    color: #0f2340;
    transition: 0.5s;
}